{% extends 'base_content.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block content %}




    <div class="Section">
        <div class="wrap">
            <form class="form Authorization" action="#" method="post">
                {% if error %}
                    <p style="color:red">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
                {% endif %}
                {% if app.user %}
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                {% endif %}
                <div class="row">
                    <div class="row-block">
                        <div class="form-group">
                            <label class="form-label" for="email">E-mail</label>
                            <input class="form-input" id="email" name="email" type="text" value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label class="form-label" for="password">Пароль</label>
                            <input class="form-input" id="password" name="password" type="password" placeholder="Ваш пароль">
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                        <div class="form-group">
                            <button class="btn btn_primary" type="submit">Войти</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>


{% endblock %}
